*{box-sizing : border-box;}
body {background-color:white;}
h1{color:grey;}

.body{
width :100%;
background-color: black;

}

.main{
position: center;
align-content:center;
width: 80%;
background-color:white;
color:red;

}


